html, body {
    width: 100%
}

body {
    background-color: rgb(20, 20, 20);
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

#mail{
    text-align: center;
    text-decoration: none;
    font-size: 200%;
    font-family: 'Montserrat', sans-serif;
    color: white;
    transition: 0.1s;
}

#mail:hover{
    color: rgb(126, 229, 255);
}


/* BAR */

.bar{
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-family: 'Silkscreen', cursive;
}

.mysong{
    text-decoration: none;
    color: white;
    transition: 0.3s;

}

.github{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

/* BAT HOVER */

.mysong:hover{
    text-decoration: none;
    color: salmon;
}

.github:hover{
    text-decoration: none;
    color: darkseagreen;
}